body{
  background-color:rgb(135, 187, 222);
}

table{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
    ;
  
  }
  table {
    width: 80%;
    border-collapse: collapse;
    }
      
   .fondo-tabla{
      background-color: aqua;
      margin-left: 500px;
      margin-right: 500px;
      margin-top: 150px;
      margin-bottom: 150px;
      border: 500px;
   }

  th {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    vertical-align: top;
  }
  td {
    padding: 20px;
    border: 1px solid black;
  }

  .colores {
     vertical-align: top;
     justify-content: center;
     background-color: green;
     font-family: Times New Roman;
     font-size: 25px;
     text-decoration-color: black;
     font-weight: bold;
  }

  .black {
    background-color: black;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:rgb(252, 250, 250)
  }
  
  .teal {
    background-color: teal;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:black
  }
  
  .blue {
    background-color: #0000ff; 
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:black
  }
  
  .navy {
     background-color: navy; 
     text-align: left;
     font-size: 20px;
     font-weight: bold;
     color:black
  }
  
  .lime {
    background-color: lime;
    text-align: left; 
    font-size: 20px;
    font-weight: bold;
    color:black
  }
  
  .white {
    background-color: white; 
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:black
  }
  .purple {
    background-color: purple;
    text-align: left; 
    font-size: 20px;
    font-weight: bold;
    color:black
  }
  
  .yellow {
    background-color: yellow; 
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:black
  }
  
  .olive {
    background-color: olive; 
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:black
  }
  
  .red {
    background-color: red;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:black
  }
  
  .marron {
    background-color: brown; 
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:black
  }
  
  .gray {
    background-color: gray; 
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:black
  }
  .olive {
    background-color: olive; 
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:black
  }
  
  .red {
    background-color: red; 
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:black
  }
  
  .fuchsia {
    background-color: fuchsia; 
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:black
  }
  
  .green {
    background-color: green; 
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:black
  }


  .blackletter {
    color: black;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }
  .tealletter {
    color: teal;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }
  .blueletter {
    color: blue;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }
  .navyletter {
    color: navy;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }
  .limeletter {
    color: lime;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }
  .whiteletter {
    color: white;
    text-align: left;
    font-size: 30px;
    font-weight: bold;

  }.purpleletter {
    color: purple;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }
  .yellowletter {
    color: yellow;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }
  .oliveletter {
    color: olive;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }
  .redletter {
    color: red;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }
  .marronletter {
    color: brown;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }
  .grayletter {
    color: grey;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }
  .oliveletter {
    color: olive;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }
  .redletter {
    color: red;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }
  .fucsialetter {
    color: fuchsia;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }
  .greenletter {
    color: green;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  } 
  .aqua {
    color: aqua;
    text-align: left;
    font-size: 30px;
    font-weight: bold;;
  }
  .silver {
    color: silver;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }
  .letters {
    vertical-align: top;
    justify-content: center;
    font-family: Times New Roman;
    font-size: 25px;
    text-decoration-color: black;
    font-weight: bold;}