h1{
    text-align: center;
}



h2{
    background-color: grey;
      height: 30px; 
}

.Margen{
    margin-top: 80px;
}


img{
    height: 100px;
    float: left;
}


.Margen p{
    margin-left: 150px;
}